<div class="image">
  <h1 class="mrs-e">Mrs. E</h1>
  <img class="top-bar" src="edited-4.png"/>
</div>
<ul>
  <li>
  <a href="/search">Lyric Checker</a>
  <img src="music.png" alt="Lyric Checker" class="lyric">
  </li>
  <li>
    <a href="/group_generator">Random Group Generator </a>
    <img src="randomizer.png" alt="Randomizer" class="randomizer">
  </li>
</ul>

<div class="footer">
  <a href='http://www.freepik.com/free-vector/drawing-school-items-on-a-notebook_726798.htm'>Designed by Freepik</a>
</div>
