<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
    application.css is where you put your styles
    -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="application.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
   <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
   <!-- <script src="/js/application.js"></script> -->

    <title>mrs.engelman.cool</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
