<form action="/search" method="POST" id="search_form">
  <p>
    <label for="artist-name">Artist Name</label>
    <input type="text" name="artist-name">
  </p>
  <p>
    <label for="track-title">Track Title</label>
    <input type="text" name="track-title">
  </p>
    <input type="submit">
</form>

<table id="results">
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('#search_form').submit( function(e) {
      e.preventDefault();

      $.ajax({
        type: "POST",
        url: "/search",
        data: $(this).serialize(),
        success: function(response) {
          $("#results").html(response);
        },
        error: function(response) {
        $("#results").html( "Sorry something went wrong with that request."
                          + "Please try again later");
        }});
    });
  });

</script>

