<form action="/search" method="POST">
  <p>
    <label for="artist-name">Artist Name</label>
    <input type="text" name="artist-name">
  </p>
  <p>
    <label for="track-title">Track Title</label>
    <input type="text" name="track-title">
  </p>
    <input type="submit">
</form>


  need to change this to only display results if they exist
<%if @results%>
  <table>
    <th>Artist</th>
    <th>Song Name</th>
    <th>Explicit Lyrics?</th>
  <% @results.each do |result|%>
    <tr>
      <td><%= result["artist_name"] %></td>
      <td><%= result["track_name"] %></td>
      <td><%= result["explicit"] %></td>
    </tr>
  <% end %>
</table>
<% end %>

