<h1>Linda's Lyric Checker</h1>

<form action="/search" method="POST">
  <p>
    <label for="artist-name">Artist Name</label>
    <input type="text" name="artist-name">
  </p>
  <p>
    <label for="track-title">Track Title</label>
    <input type="text" name="track-title">
  </p>
    <input type="submit">
</form>

<a href="/search">search </a>
<a href="/search/new">search_new </a>
